body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}
.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid violet;
  border-radius: 10px;
  box-shadow: 2px 2px 12px;
}
input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid blue;
}

button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
}

#Weatherinfo {
  margin-top: 20px;
}

button {
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.2);
}
